/* Start Global Ruls */
*{
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
}
body{
    background-color:var(--primary-clr) ;
}
:root{
    --main-blue: #1877F2;
    --primary-clr:#EFEFEF ;
    --secondary-clr:#FFFFFF ;
    --txt-clr: #050505 ;
    --secondary-txt-clr: #65676b ;
}
.container{
    padding-left: 15px ;
    padding-right: 15px;
}
.clear_flot{
    clear: both;
}

/* End Global Ruls */
/* Start Media */
@media (max-width:767px) {
    .container{
        padding-left: 15px ;
        padding-right: 15px;
    }
}
@media (min-width:768px) {
    .container{
        width: calc(100% - 30px);
        padding-left: 15px ;
        padding-right: 15px;
    }
}
@media (min-width:991px) {
    .container{
        width: calc(100% - 30px);
        padding-left: 15px ;
        padding-right: 15px;
    }
}
@media (min-width:1200px) {
    .container{
        width: calc(100% - 30px);
        padding-left: 15px ;
        padding-right: 15px;
    }
}
/* End Media */
/* header */
header{
    position: relative;
    background-color: var(--secondary-clr);
}
header .container{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 73px;
}
header .nav-content1{
    
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
}
header .nav-content1 .logo{
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .nav-content1 .logo a{
    text-decoration: none;
    text-decoration-color: none;
    text-decoration-color: none;
}
header .nav-content1 .logo a> i{
    font-size: 50px;
    color:#385898;
}
header .container form.search-filled{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container form.search-filled input[type="search"]{
    position: relative;
    height: 60%;
    padding-right: 20%;
    text-align: end;
    background-color: var(--primary-clr);
    outline: 2px solid #FCFCFC;
    border: 2px solid #ECECEC;
    border-radius: 85px;
    -webkit-border-radius: 85px;
    -moz-border-radius: 85px;
    -ms-border-radius: 85px;
    -o-border-radius: 85px;
}
@media (max-width:768px) {
    header .container form.search-filled input[type="search"]::placeholder{
        opacity: 0;
    }
    header .container form.search-filled input[type="search"]{
        max-width: 55px;
    }

    
}
header .container form.search-filled .search_ico{
    position: absolute;
    font-size: 20px;
    color: #777;
    right: 1%;
    z-index: 10;
}
@media (max-width:768px) {
    header .container form.search-filled .search_ico{
        position: absolute !important;
        right: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(50%, -50%);
        -moz-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        -o-transform: translate(50%, -50%);
}
}
header .container nav.links{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 73px;
}
header .container nav.links .main_navgation{
    display: flex;
    height: 73px;
    justify-content: center;
    align-items: center;
    flex: 1;
}
@media(max-width:992px){
    header .container nav.links .main_navgation{
        display: none;
    
    }

}
header .container nav.links .main_navgation ul{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;

}
header .container nav.links .main_navgation ul > li >a{
    position: relative;
    display: block;
    text-decoration: none;
    padding: 15px;
    text-decoration-color: none;
    -moz-text-decoration-color: none;
}
header .container nav.links .main_navgation ul > li >a.active i{
    color: var(--main-blue);
    
}
header .container nav.links .main_navgation ul > li >a.active i::after{
    content:"" ;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--main-blue);
}
header .container nav.links .main_navgation ul > li >a:last-child{
    margin-right: 35px;
}
header .container nav.links .main_navgation ul > li >a >i {
    font-size: 30px;
    color: #1F1D36;
}
header .container nav.links .main_navgation ul > li >:hover{
    background-color: var(--primary-clr);
    border-radius: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
header .container nav.links i.menu_bar{
    color: #1F1D36;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
@media (max-width:860px) {
    header .container nav.links i.menu_bar{
        margin-right: 30px;
    }
    
}
@media(max-width:992px){
    header .container nav.links i.menu_bar{
        display: flex;
    }

}
header .container nav.links .second-navgation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    
}
header .container nav.links .second-navgation ul{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
header .container nav.links .second-navgation ul > li > a{
    position: relative;
    display: block;
    text-decoration: none;
    padding: 15px;
    z-index: 1;
    text-decoration-color: none;
    -moz-text-decoration-color: none;
}
header .container nav.links .second-navgation ul > li:first-child >div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
}
header .container nav.links .second-navgation ul > li:first-child >div h5{
    font-size: 18px;
    padding: 0 10px;
}
header .container nav.links .second-navgation ul > li >div > a:first-child img{
    max-width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
header .container nav.links .second-navgation ul > li > a > i{

    font-size: 30px;
    color: #1F1D36;
}
header .container nav.links .second-navgation ul > li > a::before{
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--primary-clr);
    z-index: -1;
    transform: translate(-50% , -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}

/* header */
/* side MEnu */
aside {
    float: right;
    width: calc( 100% / 4 );
    background-color:var(--primary-clr);
    display: flex;
    flex-direction: column;
}
aside ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
aside ul li{
    display: flex;
    align-items: center;
    padding: 10px 0;
    
}
aside ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: var(--txt-clr);

}
aside ul li:first-child a >img{
    margin: auto -10px;
    max-width: 20%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

aside ul li a > i{
    position: relative;
    top: -20px;
    right: 0;
    font-size: 35px;
}
aside ul li a > i::before{
    content: "";
    background-color: #C4C4C4;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45%;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
aside ul li a h3{
    margin: 0;
    margin-right: 15px;
}
aside ul li:last-child a h3{
    margin: auto 50px;
}
aside ul li a p{
    position: relative;
    margin: 0;
    margin: auto 33px;
    color: var(--main-blue);
}
aside ul li a p::before{
    content: "";
    position: absolute;
    top: 50%;
    right: -15px;
    width: 10px;
    height: 10px;
    background-color: var(--main-blue);
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
aside ul li a >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
aside ul li a > div >h3{
    padding: 5px 5px;
}
aside ul li a > div >p{
    font-size: 12px;
}
.aside2{
    position: relative;
    max-width: 320px;
    max-height: 90vh;
    overflow-y: scroll;
}
.aside2 .main_menu{

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;

}
.aside2 .main_menu h2{
    display: inline-block;
    font-size: 18px;
    margin: 0;
    color: var(--secondary-txt-clr);
}
.aside2 .main_menu i.video_call {
    cursor: pointer;
    color: var(--secondary-txt-clr);
}
.aside2 .main_menu i.search_friend{
    cursor: pointer;
    color: var(--secondary-txt-clr);
}
.aside2 .main_menu i.more{
    cursor: pointer;
    color: var(--secondary-txt-clr);
}

.aside2 .friend_list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
    color: var(--txt-clr);
}
/* .aside2 .friend_list::after{
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--secondary-txt-clr);
    width: 100%;
    height: 5px;
    
} */
.aside2 .friend_list .picture_and_name{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    
}
.aside2 .friend_list .picture_and_name img{
    width: 25%;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.aside2 .friend_list .picture_and_name h4{
    cursor: pointer;
    margin-right: 25px;
    color: var(--secondary-txt-clr);
}
.aside2 .friend_list .create_gruop_chat{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}
.aside2 .friend_list .create_gruop_chat h3{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    font-size: 18px;
    color: var(--secondary-txt-clr);
}
.aside2 .friend_list .create_gruop_chat .add_chat{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.aside2 .friend_list .create_gruop_chat .add_chat .add_ico{
    position: relative;
    font-size: 18px;
    z-index: 1;
}
.aside2 .friend_list .create_gruop_chat .add_chat h4{
    color: var(--secondary-txt-clr);

}
.aside2 .friend_list .create_gruop_chat .add_chat .add_ico::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #dbdbdb;
    padding: 15px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.aside2 .friend_list .create_gruop_chat::after{
    content: "" ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #dbdbdb;

}
/* side MEnu */
/* main content */
section{
    min-height: 60vh;
    padding-top: 25px;
    padding-bottom: 25px;
    position: absolute;
    top: 10%;
    right: calc(100% /4);
}
section .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;

}

section .container .feed_content{
    max-width: 700px;
    max-height: 50% ;
    background-color: var(--secondary-clr);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
section .container .feed_content .content_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 15px;

}
section .container .feed_content .content_box .header_box{
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

section .container .feed_content .content_box .header_box img{
    border-radius: 50%;
    max-width: 10%;
    margin: auto 20px;
}
section .container .feed_content .content_box .header_box .header_title{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
}
section .container .feed_content .content_box .header_box .header_title h2{
    margin: 5px;    
    font-size: 17px;
    color: var(--txt-clr);
}
section .container .feed_content .content_box .header_box .header_title p{
    position: relative;
    margin: 5px;
    font-size: 12px;
    color: var(--secondary-txt-clr);
}
section .container .feed_content .content_box .header_box .header_title p::before{
    content: "\f57c";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 50%;
    left: -50%;
    font-size: 20px;
    font-weight: 900;
    color: var(--secondary-txt-clr);
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
section .container .feed_content .content_box .header_box .more_sec_ico{
    color: var(--secondary-txt-clr);
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}


section .container .feed_content .content_box .write_content{
    padding: 15px;
    text-align: end;
    line-height: 30px;
    margin: 35px auto;
}
section .container .feed_content .content_box .images_content{
    position: relative;
    display: flex;
    gap: 5px;
}
section .container .feed_content .content_box .images_content >:nth-child(1){
    max-width: 50%;
}
section .container .feed_content .content_box .images_content >:nth-child(2){
    
    max-width: 50%;
}
section .container .feed_content .content_box .react_and_Cont{
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: row-reverse;
}
section .container .feed_content .content_box .react_and_Cont .react_box{
    display: flex;
    flex-direction: unset;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;
}
section .container .feed_content .content_box .react_and_Cont .react_info{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}
section .container .feed_content .content_box .react_and_Cont .react_info span{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
}
section .container .feed_content .content_box .react_and_Cont .react_info span p{
    font-size: 12px;
}
section .container .feed_content .content_box .react_and_Cont .react_box .love_reat{
    color: #fff;
    font-size: 15px;
    padding: 5px;
    background-color: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
section .container .feed_content .content_box .react_and_Cont .react_box .like_react{
    color: #fff;
    font-size: 15px;
    padding: 5px;
    background-color: var(--main-blue);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
section .container .feed_content .content_box .interact_and_replay{
    display: flex;
    flex-direction:row-reverse;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
section .container .feed_content .content_box .interact_and_replay .react{
    position: relative;
    cursor: pointer;

}
section .container .feed_content .content_box .interact_and_replay .comment{
    position: relative;
    cursor: pointer;

}
section .container .feed_content .content_box .interact_and_replay .share{
    position: relative;
    cursor: pointer;

}
section .container .feed_content .content_box .interact_and_replay::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #e4e4e4;
}
section .container .feed_content .content_box .interact_and_replay::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #e4e4e4;
}
section .container .feed_content .content_box .interact_and_replay .react::before{
    content: "\f164";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 50%;
    right: -60%;
    font-size: 20px;
    font-weight: 900;
    color: var(--secondary-txt-clr);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
section .container .feed_content .content_box .interact_and_replay .comment::before{
    content: "\f27a";
    position: absolute;
    top: 50%;
    right: -60%;
    font-size: 20px;
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    color: var(--secondary-txt-clr);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
section .container .feed_content .content_box .interact_and_replay .share::before{
    content: "\f064";
    position: absolute;
    top: 50%;
    right: -80%;
    font-size: 20px;
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    color: var(--secondary-txt-clr);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
